:root{

    --lightest-purple: #F4eeff;
    --purple: #dcd6f7;
    --dark-purple: #a6b1e1;
    --dark-color: #424874;

    --light-color: #F5F5F5;
    --light-green: #76ABAE ;
    ---green: #436b6d ;
    --dark-green: #303841 ;
    --orange: #FF5722 ;

    --star-normal: #d4d3cc;
    --star-select: #ffea4e;
    --star-hover: #999154;
    --star-click: #413e2b;
    
}

*{
    /* outline: 1px solid red; */
}

@font-face {
  font-family: "Raleway-font";
  src:
    local("Raleway"),
    url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("./fonts/Raleway-VariableFont_wght.woff") format("woff"),
    url("./fonts/Raleway-VariableFont_wght.woff2") format("woff2");
}

body{
    min-height: 100vh;
    background-color: var(--green);
    font-family:"Raleway-font", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.container{
    min-height: 100%;
}

.book-shelf{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr)); 
    grid-template-rows: 350px;
    grid-auto-flow: row;
    grid-auto-rows: 350px;
    gap: 20px;
    margin: 20px;
}
.book-cover{
    width: 125px;
    height: auto;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}



/* PAGE HEADER */
header{
    display: grid;
    gap: 20px;
    background-color: var(--dark-green);
    color: var(--light-color);
}
header h1{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}


/* ADD BOOK BUTTON FANCY */

.add-button-container{
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    /* background-color: blue; */
}
.add-book-button{
    text-transform: uppercase;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    transition: all .2s;
    background-color: var(--orange);
    color: var(--light-color);
    position: absolute;
    top: 30;
}

.add-book-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-book-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.add-book-button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: absolute;
    top: 30;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: var(--orange);
}

.add-book-button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


/* Book DIV Styling */
.book-div{
    background-color: var(--light-green);
    color: var(--dark-green)
}


/* STAR RATING STYLING */
.book-div .rating label,
.rating-input-container label{
    display: inline-block;
    cursor: pointer;
    color: var(--star-normal);
}
.book-div .rating  label i,
.rating-input-container label i{
    font-size: 2rem;
    transition: 0.1s ease-in;
}
.book-div .rating .rating-radio,
.rating-input-container .rating-radio{
    display: none;
}
/* when sibling checked  */
.rating-input-container input[type='radio']:checked + label,
.rating-input-container label:has(~ input[type='radio']:checked),
.book-div .rating input[type='radio']:checked + label,
.book-div .rating label:has(~ input[type='radio']:checked){
    color: var(--star-select);
}
/* when hovered */
.book-div .rating label:hover i,
.book-div .rating label:has(~ label:hover) i,
.rating-input-container label:hover i,
.rating-input-container label:has(~ label:hover) i
{
    color: var(--star-hover);
}

/* When clicked */
.book-div .rating label:active i,
.rating-input-container label:active i{
    color: var(--star-click);; 

}

/* hide stars when book hasn't been read yet */
.book-div:has(.not-read) .rating{
    display: none;
}


